agm-map {
    height: 35rem;
}

.ebh-search-button {
    width: 100%;
}

.main-container {
    background-color: white;
    height: 100%;
    margin-bottom: 0;
    border-radius: 10px 0 0 0;
}

.ebh-button {
    border: none;
    outline: none;
    border-radius: 0px;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    background-color: none;
    font-size: 14px;
    color: #3EC28F;
}

.ebh-button.active {
    background-color: #EBEBEB;
}

.ebh-provider-container {
    border-bottom: 2px solid #EBEBEB;
    border-radius: 5px;
    min-height: 120px;
}

.ebh-left-column {
    overflow: scroll;
    border-right: 1px solid #EBEBEB;
}

.ebh-right-column {
    overflow: scroll;
}

.ebh-provider-content {
    font-size: 12px;
    margin-bottom: 0.25em;
}

.ebh-provider-name {
    font-size: 16px;
    font-weight: bold;
}

.ebh-loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    margin: 6px;
    border: 3px solid grey;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: grey transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
