<div class="row">
  <div class="col-md-2">
    <div class="ebh-logo">
      <img src="assets/img/ebhealth-logo.png" width="100%" class="p-3">
    </div>
  </div>
  <div class="col-md-9 offset-md-1">
    <div class="ebh-signup-container d-flex flex-column justify-content-center">
      <span class="ebh-title mb-3">Sign Up</span>
      <h5 class="mb-3">Please enter your email and we will send you activation link</h5>
      <mat-form-field class="ebh-input mb-3">
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-stroked-button class="ebh-submit-button" (click)="onSubmit()">Sign Up</button>
    </div>
  </div>
